/* Media Size */
$tablet-screen-size: 768px;
$desktop-screen-size: 1280px;


/* Padding & Margin Settings */

$margin-mb: 1rem;
$margin-tb: 2rem;

$gutter-mb: 1rem;
$gutter-tb: 1.5rem;

/* Colors */

// Primary
$tangerine: #FB7448;
$egplant: #6D87DD;
$white: #FFFFFF;
$darkgrey: #464646;

$instock-black: #13182C;
$instock-indigo: #2E66E5;

// Secondary
$slate: #5C667E;
$cloud: #BDC5D5;

// Background
$light-grey-70: rgba(247, 248, 249, 0.7);

/* Others */
$divider: 1px solid $cloud;
$box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);