@use "../../styles/partials/variables" as *;
@use "../../styles/partials/text" as *;

.ob5 {
    display: flex;

    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__header {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        padding: 1rem 3rem;
        width: 100%;
        border-bottom: 1px solid $darkgrey;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem 3rem;
        gap: 3rem;
    }

    &__recommended {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

}